<!DOCTYPE html>
<html lang="en">
  <%- include('head.ejs', {}) %>
  <body>
    <div class="container">
      <% if(username != 0) { %>
        <script>
          window.location.href = "/";
        </script>
      <% } %>
      <%- include('nav.ejs', {username: (username != 0) ? username : 0}) %>

      <%- include('loginForm.ejs', {}) %>

      <% if(error) { %>
        <h6 class="text-danger"><%= (error) ? error : "" %></h6>
      <% } %>
      <%- include('footer.ejs', {}) %>
    </div>

    <%- include('micromodal.ejs', {}) %>
  </body>
</html>
