<!DOCTYPE html>
<html lang="en">
  <%- include('head.ejs', {}) %>
  <style>
    .col {
      text-align: center;
      margin: 24px;
    }

    .card {
      width: 512px;
      margin: auto;
    }

    .other-camera {
      margin: 23.3px;  
      background: #f1f1f1;
    }

    @media only screen and (max-width: 400px) {
      .card {
        width: 256px;
        margin: auto;
      }
    }
  </style>
  <body>
    <div class="container">
      <%- include('nav.ejs', {username: username}) %>

      <div class="row">
        <div class="col">
          <h2>Add Camera:</h2>
          <form action="/cameras/add" method="post">
            <div class="form-group">
              <label for="name">Name:</label>
              <input
                minlength="6" 
                maxlength="45"
                id="name"
                class="form-control"
                type="text"
                name="name"
                minlength="5"
                maxlength="50"
              />
            </div>
            <div class="form-group">
              <label for="description">Description:</label>
              <input
                minlength="1" 
                maxlength="45"
                id="description"
                style="resize: vertical"
                class="form-control"
                type="text"
                minlength="0"
                maxlength="200"
                name="description"
              />
            </div>
            <div class="form-group">
              <label for="ip">IP:</label>
              <input
                minlength="10" 
                maxlength="15"
                id="ip"
                class="form-control"
                type="text"
                name="ip"
                minlength="10"
                maxlength="15"
              />
            </div>
            <div class="form-group">
              <label for="port">Port:</label>
              <input
                id="port"
                class="form-control"
                type="number"
                min="0"
                max="65535"
                name="port"
              />
            </div>
            <div class="form-group">
              <label for="resolution">Resolution:</label>
              <input
                id="resolution"
                class="form-control"
                type="number"
                name="resolution"
              />
            </div>
            <button class="btn btn-primary" type="submit">Add</button>
          </form>

          <hr>
          <h2>Information:</h2>

          
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Number of Cameras</td>
                <td><%= cameras.length %></td>
              </tr>
            </tbody>
          </table>
          
        </div>
        <div class="col">
          <h2>Your cameras:</h2>
          <div style="height: 800px; overflow-y: scroll;">
            <% cameras.forEach(function(camera) { %>
              <div class="card other-camera" onclick="window.location.href = '/camera/' + 0;">
                <div class="card-body">
                  <div style="background-color: white !important; width: max-content; height: 128px; border-bottom: 1px solid lightgray; margin-bottom: 12px; padding: 0;">
                    
                  </div>
                  <h5 class="card-title"><%= camera.name %></h5>
                  <p class="card-text"><%= camera.description %></p>
                  <p class="card-text"><%= camera.ip %></p>
                  <p class="card-text"><%= camera.port %></p>
                </div>
              </div>
            <% }); %> 
          </div> 
        </div>
      </div>

      <%- include('footer.ejs', {}) %>
    </div>

    <%- include('micromodal.ejs', {}) %>
  </body>
</html>
