<!DOCTYPE html>
<html lang="en">
  <%- include('head.ejs', {}) %>
  <body>
    <div class="container">
      <%- include('nav.ejs', {username: username}) %>
    <div class="row">
      <div class="col">
        <div id="state"><h3 style="margin: 24px;">Current camera: <%=  cameraId %></h3></div>
      </div>
      <div class="col-sm">
        <h3 style="margin-top: 24px;">Latest Detections:</h3>
          <table class="table">
              <thead class="">
                  <tr class>
                    <th>ID:</th>
                    <th>Objects:</th>
                    <th>Confidences:</th>
                    <th>Date:</th>
                    <th>Time:</th>
                  </tr>
              </thead>
              <tbody id="latest">
              </tbody>
          </table>
      </div>
    </div>
    <div>
        <div class="row" id="more" style="margin-top: 20px;">
            <div class="col">
                <h2>More Cameras:</h2>
                <div class="row" id="cameras">
                </div>
            </div>
        </div>
    </div>
    <%- include('footer.ejs', {}) %>
    </div>

    <%- include('micromodal.ejs', {}) %>
    
    <script src="../public/require.js"></script>
    <script src="Camera/CameraConfiguration.js"></script>
    <script src="Camera/Camera.js"></script>
    <script src="Frontend/CameraListRenderer.js"></script>
    <script src="Frontend/LatestDetectionRenderer.js"></script>
    <script src="Detection/DetectionDate.js"></script>
    <script src="Database/MockDatabase.js"></script>
    <script src="Repositories/DetectionRepository.js"></script>
    <script src="Detection/Detection.js"></script>
    <script src="../SecurityCam.js"></script>
  </body>
</html>
