<!DOCTYPE html>
<html lang="en">
  <%- include('head.ejs', {}) %>
  <body>
    <div class="container">
      <%- include('nav.ejs', {username: (username != 0) ? username : 0}) %>
    <h2 style="margin: 24px;">SurvAPI - Dashboard</h2>

    <% if (username == 0 || username == -1) { %>
    <% if (username == -1) { %>
      <div>
        Logged out.
      </div>
    <% } %>
    <div class="row">
      <div class="col">
        <%- include('registerForm.ejs', {}) %>
      </div>
      <div class="col">
        <%- include('loginForm.ejs', {}) %>
      </div>
    </div>
    <% } else {%>
      <div>
        Logged in.
      </div>
    <% } %>
    <%- include('footer.ejs', {}) %>
    </div>

    <%- include('micromodal.ejs', {}) %>
  </body>
</html>
