<!DOCTYPE html>
<html lang="en">
  <%- include('head.ejs', {}) %>
  <body>
    <div class="container">
      <%- include('nav.ejs', {username: 0}) %>

      <%- include('registerForm.ejs', {}) %>

      <%- include('footer.ejs', {}) %>
    </div>

    <%- include('micromodal.ejs', {}) %>
  </body>
</html>
